body{
    background-color: rgb(252, 252, 205);
    margin: 0;
}

header {
    display:flex;
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: rgb(255, 255, 108);
    /* box-shadow: 1px 1px 15px rgb(255, 208, 1); */
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-bottom: 3px solid  rgb(63, 63, 63);

    & > a {
        text-decoration: none;

        & > h2 {
            /* color: black; */
            letter-spacing: 2px;
            font-size: 40px;
            margin-left: 2rem;
            font-family: "Bungee", sans-serif;
            font-weight: 900;
            transform: skewY(3deg) skewX(10deg);
            border-radius: 10px;
            border-bottom: 5px solid lightblue;
            width: 14rem;

            & > span:nth-child(1) {
                color: #A7C7E7; /* Light Blue */
            }
            & > span:nth-child(2) {
                color: #F8DE7E; /* Light Yellow */
            }
            & > span:nth-child(3) {
                color: #FFB6C1; /* Light Pink */
            }
            & > span:nth-child(4) {
                color: #B5E7A0; /* Light Green */
            }
            & > span:nth-child(5) {
                color: #FFD580; /* Light Orange */
            }
            & > span:nth-child(6) {
                color: #D8BFD8; /* Light Purple */
            }
            & > span:nth-child(7) {
                color: #FF7F7F; /* Soft Red */
            }
            
          
        }
    }

    & > nav {
        display: flex;
        gap: 2rem;
        margin-right: 1rem;  

        & > .btn{
            display: flex;
            background-color: rgb(198, 41, 41);
            color: white;
            border-radius: 10px;
            width: 7rem;
            height: 2.2rem;
            justify-content: center;
            align-items: center;
            border: none;
            gap: 10px;
            font-size: 12px;

            &:hover{
                background-color: rgb(129, 84, 84);
            }
        }
        & > .dropdown-menu{
            background-color: white;

            & > li > a{
                font-size: 12px;
            }
        }
            & > a {
                text-decoration: none;
                
                & > button {
                    display: flex;
                    color: rgb(63, 63, 63);
                    height: 2rem;
                    width: 6rem;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    background-color: transparent;
                }
            }

        & > button{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
        }
        
        & > .btn:nth-child(6){
            display: flex;
            background-color: rgb(5, 250, 9);
            color: white;
            border-radius: 10px;
            width: 7rem;
            height: 2.2rem;
            justify-content: center;
            align-items: center;
            border: none;
            gap: 10px;
            font-size: 12px;

            &:hover{
                background-color: rgb(129, 84, 84);
            }
        }
        & > .dropdown-menu{
            background-color: white;

            & > li > a{
                font-size: 12px;
            }
        }
        & > .dropdown-toggle::after {
            display: none !important;
        }
        

    }  
    & > .hamburger {
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: white;
        display: none;
    }
}

header.scrolled{
    background-color: rgb(255, 213, 0);
    box-shadow: none;

    & > a> h1{
        color: yellow;
    }

}

::-webkit-scrollbar {
    width: 1.1rem; /* Width of the scrollbar */
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: lightcoral;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: lightblue;
  }
  
  ::-webkit-scrollbar-track {
    background-color: lightpink;
}

.section1{
    display: flex;
    height: 100vh;
    width: 100%;
    /* background-image: url(../img/Modern\ Retro\ p\ 35_François\ du\ Chatenet.webp);
    background-size: cover;
    background-position: center; */
    flex-direction: row;
    align-items: end;
    background-color: rgb(255, 213, 0);
    overflow: hidden;

    & > .left-container{
        display: flex;
        height: 100vh;
        width: 50%;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        background-color: transparent;
        padding-left: 10px;


        & > .image-holder{
            display: flex;
            height: 80vh;
            flex-direction: row;
            align-items: end;
            justify-content: space-between;
            outline: 4px solid black;
            border-radius: 30px 30px 0px 0px;
            background-color: rgba(128, 128, 128, 0.273);

            & > img{
                height: 80vh;
            }
            /* & > img:nth-child(1){
                height: 40vh;
            }
            & > img:nth-child(2){
                transform: rotate(-10deg) translateY(-4rem); */
            }

        }
        & > .right-container {
            display: flex;
            justify-content: center;
            align-items: center;    
            height: 90vh;
            width: 50%;
            /* background-color: rgba(127, 127, 127, 0.316); */
            /* box-shadow: 1px 1px 15px rgb(255, 255, 255); */
            flex-direction: column;
            padding-right: 3rem;

            & > img{
                display: flex;
                position: absolute;
                height: 40vh;
                align-self: flex-end;
                transform: translateY(-15rem);
            }
            
            & > h1{
                font-weight: 900;
                font-family: Arial, Helvetica, sans-serif;
                line-height: 0.8; /* Adjust the line height to remove vertical space */
                z-index: 1;
    
                & > span:nth-child(1){
                    color: rgb(138, 206, 228);
                    font-size: 3.5rem;
    
                }
                & > span:nth-child(2){
                    color: rgb(251, 149, 165);
                    font-size: 8rem;
                    
                }
                & > span:nth-child(3){
                    color: rgb(252, 252, 157);
                    font-size: 7rem;
    
                }
            }
    
            & > p{
                color: rgb(63, 63, 63);
                font-size: 1rem;
                font-weight: 500;
                font-family: "Playwrite DE VA", cursive;
                padding-top: 1rem;
            }
        }
    }     

.section2{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 205);

    & > .container-holder{
        display: flex;
        flex-direction: row;
        width: 85%;
        height: 80%;
        /* background-color: lightyellow;
        box-shadow: 1px 1px 15px gray; */
        gap: 1rem;

        & > .left{
            display: flex;
            width: 40%;
            flex-direction: column;
            justify-content: center;

            & > h1{
                font-weight: 900;
                color: rgb(63, 63, 63);
                font-size: 3rem;
            }
        }
        
        & > .right{
            display: flex;
            width: 60%;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            & > img:nth-child(1){
                height: 80%;
                transform: skewY(5deg);
                outline: 2px solid black;
            }

            & > img:nth-child(2){
                height: 60%;
                z-index: 1;
                transform: rotate(190deg);
                outline: 2px solid black;
            }
        }
    }
}
.section3{
    display: flex;
    width: 100%;
    height: 110vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    background-color: rgb(255, 213, 0);

    & > h1{
        font-weight: 900;
        color: rgb(63, 63, 63);

    }
    & > .card-holder{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;

        & > .card-container{
            display: flex;
            flex-direction: column;
            height: 40vh;
            width: 27rem;
            background-color: transparent;
            border-radius: 10px;
            overflow: hidden;

            & > .top{
                display: flex;
                height: 100%;
                width: 100%;
                justify-content: center;

                & > img{
                    height: 100%;
                    width: 100%;
                    border-radius: 10px;
                }
            }
            & > .bottom{
                display: none;


                & > h1{
                    color: yellow;
                    font-weight: 900;
                    font-size: 2.3rem;
                }
            }

            &:hover{
                box-shadow: 1px 1px 10px rgb(31, 31, 31);

                & > .top{
                    & > img{
                        filter: blur(2px)  saturate(0.9);
                    }
                }
                & > .bottom{
                    display: flex;
                    transform: translateY(-25vh);
                    justify-content: center;
                    text-align: center;
                }
            }
        }
        & > a{
            display: flex;
            text-decoration: none;
            position: absolute;

           & > button{
            width: 12rem;
            height: 4rem;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 20px;
            background-color: yellow;   
            font-weight: 900;

                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}
/* 
.section4 *{
    outline: 2px solid red;
} */
.section4{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 205);
    gap: 2rem;

    & > h1{
        font-weight: 900;
    }

    & > .container-holder{
        display: flex;
        flex-direction: row;
        height: 50%;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 1;

        & > .container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;

            & > .top-holder{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                align-self: flex-start;
                margin-left: 7rem;
                gap: 5px;

                & > h3{
                    display: flex;
                    background-color: gray;
                    height: 2.5rem;
                    width: 2.5rem;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    border-radius: 20px;
                }
    
            }
            
            & > p{
                width: 15rem;
                font-size: 15px;
            }

            & > img{
                display: flex;
                position: absolute;
                height: 67vh;
                z-index: -1;
                
            }
        }
    }
    
    & > a{
        display: flex;
        text-decoration: none;
        padding-top: 2rem;
       & > button{
        display: flex;
        width: 12rem;
        height: 4rem;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 20px;
        background-color: yellow;
        font-weight: 900;
        
            &:hover{
                transform: scale(1.1);
            }
        }
    }

}

.section5{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 213, 0);
    gap: 4rem;
  
    
    & > h1{
        font-weight: 900;
    }
   
    & > .container-holder{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
       
        & > .left{
            display: flex;
            width: 40%;
            & > img{
                height: 100%;
                width: 100%;
                border: 4px solid black;
            }
        }
        & > .right{
            display: flex;
            width: 50%;
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            background-image: url(../img/pngwing.com\ \(3\).png) ;
            background-position: center;
            background-size: cover;

            & > .container:nth-child(1){
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: yellow;
                border-radius: 20px;
                border: 3px solid black;
                width: 20rem;
                height: 10vh;
                
                & > p {
                    font-size: 20px;
                } 
            }

            & > .container:nth-child(2){
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40rem;
                height: 10vh;
                background-color: yellow;
                border-radius: 20px;
                border: 3px solid black;
            }

            & > .container:nth-child(3){
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30rem;
                height: 10vh;
                background-color: yellow;
                border-radius: 20px;
                border: 3px solid black;         
           }
        }
}

& > a{
    text-decoration: none;
& > button{
    display: flex;
    width: 10rem;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}
}
}

footer{
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 108);
}

/* Responsive for smaller screens */
@media only screen and (max-width: 376px){
    header{
        display: flex;
        width: 100%;
        height: 40px;
        position: fixed;
        background-color: rgb(255, 255, 108);
        justify-content: space-between;
        align-items: center;

        & > a {
            text-decoration: none;
            
        & > h2 {
            color: rgb(63, 63, 63);
            letter-spacing: 2px;
            font-size: 1rem;
            margin-left: 10px;
            margin-top: 7px;
            font-family: "Bungee", sans-serif;
            font-weight: 900;
            transform: skewY(3deg) skewX(10deg);
            /* box-shadow: 4px 4px 10px lightgoldenrodyellow; */
            border-radius: 10px;
            border-bottom: 5px solid rgb(138, 138, 1);
            width: 6rem;
        }
        }

        & > nav {
            display: flex;
            width: 80%;
            height: 100%;
            gap: 3rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            inset: 0;
            background-color: rgba(93, 93, 93, 0.919);
            transform: translateX(125%);    
            transition: transform 400ms ease;
                
                & > a > button {
                    display: flex;
                    font-size: 20px;
                }
        }

        & > nav.show {
            transform: translateX(25%);
        }
        & >  .hamburger {
            display: block;
            position: relative;
            font-size: 15px;
            margin-right: 10px;
            color: rgb(63, 63, 63);
        }
    }

    .section1{
        display: flex;
        height: 80vh;
        width: 100%;
        align-items: end;

        & > .left-container {
            display: flex;
            width: 100%;
            padding-left: 0;

            & > .image-holder{
                outline: none;
                background-color:transparent;

                & > img{
                    height: 70vh;
                }
            }
        }

        & > .right-container {
            display: flex;
            justify-content: center;
            align-items: center;    
            height: 100vh;
            width: 100%;
            flex-direction: column;
            padding: 10px;
            position: absolute;

            & > h1{
                padding-top: 5rem;
                font-weight: 900;
                font-family: Arial, Helvetica, sans-serif;
                line-height: 0.8; /* Adjust the line height to remove vertical space */

                & > span:nth-child(1){
                    color: rgb(138, 206, 228);
                    font-size: 2.5rem;
    
                }
                & > span:nth-child(2){
                    color: rgb(251, 149, 165);
                    font-size: 4.5rem;
                    
                }
                & > span:nth-child(3){
                    color: rgb(251, 251, 167);
                    font-size: 3.5rem;
    
                }
            }
    
            & > p{
                color: white;
                font-size: 10px;
                font-weight: 500;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
        }
    }
    
    .section2{
        display: flex;
        width: 100%;
        height: 50vh;
        justify-content: center;
        align-items: center;
        background-color: rgb(252, 252, 205);

        & > .container-holder{
            display: flex;
            flex-direction: column-reverse;
            width: 85%;
            height: 100%;
            /* background-color: lightyellow;
            box-shadow: 1px 1px 15px gray; */
            justify-content: flex-end;
            gap: 1rem;
            
            & > .left{
                display: flex;
                width: 100%;
                height: 45%;
                flex-direction: column;
                justify-content: center;

                & > h1{
                    font-weight: 900;
                    color: rgb(63, 63, 63);
                    font-size: 1rem;
                }
                & > p{
                    font-size: 10px;
                }
            }
            & > .right{
                display: flex;
                width: 100%;
                height: 45%;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding-top: 2rem;

                & > img:nth-child(1){
                    height: 20vh;
                    transform: skewY(5deg);
                    outline: 2px solid black;
                }
    
                & > img:nth-child(2){
                    height: 15vh;
                    z-index: 1;
                    transform: rotate(190deg);
                    outline: 2px solid black;
                }
            }
        }
    }

.section3{
    display: flex;
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 205);
    flex-direction: column;
    gap: 0;
    padding-top: 0;
    gap: 2rem;
    
    & > h1{
        font-weight: 900;
        color: rgb(63, 63, 63);
        font-size: 1rem;
    }

    & > .card-holder{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        
        & > .card-container{
            display: flex;
            flex-direction: column;
            height: 15vh;
            width: 40%;
            background-color: transparent;
            border-radius: 10px;
            overflow: hidden;

            & > .top{
                display: flex;
                height: 100%;
                width: 100%;
                justify-content: center;
                filter: blur(2px)  saturate(0.9);
                
                & > img{
                    height: 100%;
                    width: 100%;
                    border-radius: 10px;
                }
            }
            & > .bottom{
                display: flex;
                transform: translateY(-10vh);
                justify-content: center;
                text-align: center;

                & > h1{
                    color: yellow;
                    font-weight: 900;
                    font-size: 1rem;
                }
            }
        }

        & > a{
            display: flex;
            text-decoration: none;
            position:unset;

            & > button{
            width: 7rem;
            height: 1.5rem;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 20px;
            background-color: yellow;   
            font-weight: 900;
            font-size: 10px;

                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
    }   
}

